<script src="{{ .Site.BaseURL }}/js/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="{{ .Site.BaseURL }}/js/jquery.cookie.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/jquery.waypoints.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/jquery.counterup.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/jquery-parallax.js"></script>
<script src="{{ .Site.BaseURL }}/js/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<!-- <script src="{{ .Site.BaseURL }}/js/front.js"></script>
 -->
<!-- owl carousel -->
<!-- <script src="{{ .Site.BaseURL }}/js/owl.carousel.min.js"></script>
 -->
<!-- bsnav -->
<script src="{{ .Site.BaseURL }}/js/bsnav.min.js"></script>

<!-- stack theme -->
<script src="{{ .Site.BaseURL }}/js/stack/countdown.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/datepicker.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/easypiechart.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/flickity.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/granim.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/isotope.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/jquery.steps.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/lightbox.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/parallax.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/scripts.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/smooth-scroll.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/spectragram.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/twitterfetcher.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/typed.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/ytplayer.min.js"></script>

<!-- Custom Script -->
<script src="{{ .Site.BaseURL }}/js/custom.js"></script>

<!-- Leaflet -->
<script src="{{ .Site.BaseURL }}/js/leaflet.js"></script>

<script>
            
  var map = L.map('map',{
  center: [52.5128, 13.4495],
  zoom: 16
  });

  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
  attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var firefoxIcon = L.icon({
      //iconUrl: 'http://joshuafrazier.info/images/firefox.svg',
      iconUrl: '{{ .Site.BaseURL }}/img/xhain_logo.svg',
      iconSize: [50, 50], // size of the icon
      });

  var marker = L.marker([52.5128, 13.4495], {icon: firefoxIcon}).addTo(map);

</script>