{{ if isset .Site.Params "hero" }}
    {{ if .Site.Params.hero.enable }}
        <section class="cover imagebg text-center parallax height-100" data-overlay="1">
            <div class="background-image-holder"> 
                <img alt="background" src="{{ .Site.Params.hero.url | absURL }}"> 
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-md-12"> 
                        {{/* 
                            <h1>{{ .Title }}</h1>
                            <h1>{{ .Site.Params.name }}</h1>  
                        */}}
                        <div>
                            <img class="home--hero-logo" alt="logo" src="{{ .Site.BaseURL | absURL}}/img/xhain_logo.svg">
                        </div>
                        {{/* 
                            <h3 >{{ .Site.Params.defaultDescription }}</h3>  
                        */}}          
                    </div>
                </div>
            </div>
        </section>
    {{ end }}
{{ end }}