<a id="start"></a>

<div class="nav-container">
    <div>
        <div class="bar bar--sm visible-xs nav--bar-sm">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-md-2">
                        <a href="{{ .Site.BaseURL }}/index.html"> 
                            <img class="logo logo-dark" alt="logo" src="{{ .Site.BaseURL }}/img/logo-dark.png"> 
                            <img class="logo logo-light" alt="logo" src="{{ .Site.BaseURL }}/img/logo-light.png"> 
                        </a>
                    </div>
                    <div class="col-9 col-md-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu2;hidden-xs hidden-sm"> 
                            <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        <nav id="menu2" class="bar bar-2 hidden-xs bar--absolute bar--transparent" data-scroll-class="100px:pos-fixed">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-2 hidden-xs">
                        <div class="bar__module">
                            <a href="{{ .Site.BaseURL }}/index.html"> 
                                <img class="logo logo-dark"  alt="logo" src="{{ .Site.BaseURL }}/img/logo-dark.png"> 
                                <img class="logo logo-light" alt="logo" src="{{ .Site.BaseURL }}/img/logo-light.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <ul class="menu-horizontal text-left">
                                {{- $currentPage := . -}}
                                {{ range .Site.Menus.main -}}
                                    <li class="nav--pages {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                        <a  href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                                    </li>
                                {{- end }}
                                {{ partial "navigation/languageSwitch.html" . }}
                                {{ partial "navigation/iconMenu.html" . }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
