<section class="cover imagebg text-center parallax height-10" data-overlay="1" id="page--hero-section">
    <div class="background-image-holder"> 
        <img alt="background" src="{{ .Site.Params.hero.url | absURL }}">
    </div>
</section>